<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	
	
	
</head>
<!-- set time out -->
<body class="has-navbar-fixed-top">

	<section class="section ">
		<div class="container">
			<div class="row ">
				<div class="columns">
					<div class="column">
						<nav class="navbar is-link is-fixed-top">
							<a class="navbar-item has-text-white">Bigquery org wide job monitor</a>
							<div class="navbar-end">
								<div class="navbar-item">
									<a id="livebutton" class="button is-success" href="#">
										<span id="livestatus" class="icon">
											<i class="fas fa-circle"></i>
										</span>
										<span>Live</span>
									</a>
								</div>
								<!--div class="navbar-item ">
									<a class="has-text-white">Hello a@abc.com</a>
								</div-->
								<div id="currenttime" class="navbar-item has-text-white">Current Time</div>
								
							</div>
						</nav>
					</div>
				</div>	
			</div>
			<nav class="panel has-text-white has-background-white">
				<p class="panel-heading ">Playback Setting</p>

				<div class="panel-block">
					<div class="row">
						<div class="">
							<div class="row">
								<span>Duration:</span>
							</div>
							<div class="row">
								<a>
									<span id="d1h" class="tag is-medium">1hr
									</span>
								</a>
								<a>
									<span id="d2h" class="tag is-medium">2hr
									</span>
								</a>
								<a>
									<span id="d3h" class="tag is-medium">3hr
									</span>	
								</a>
								<span class="tag has-background-white">
									<input id="hr-input" class="input" type="text" placeholder="Custom: e.g. 2, 3.5">
								</span>	
								hr
							</div>
						</div>
					</div>
				</div>
				<div class="panel-block">
					<div class="row">
						<div class="">
							<div class="row">
								<span class="">End time</span>
							</div>
							<div class="row">
								<!-- <input id = "endtime" class="input" type="text" placeholder="2019-10-29 23:59:59"> -->
								<input id = "endtime" class="input" type="text" value="2019-10-29 23:59:59">
								<button id = "endtime-button"  class="button">Go</button>
							</div>
						</div>
					</div>
				</div>
				
				<div class="panel-block">
					<div class="row">
						<div class="">
							<div class="row">
								<span>Move in time</span>
							</div>
							<div class="row">
								<button id="minuesd1h" class="tag is-medium">-1hr
								</button>
								<span class="tag has-background-white">
									<input id = "moveintime-input" class="input" type="text" placeholder="Custom: +/-0.5hr">
								</span>
								<button id="plusd1h" class="tag is-medium">+1hr
								</button>
								<div class="row">
									<button id = "moveintime-button" class="button">Go</button>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				


			</nav>

			<nav class="panel has-text-white has-background-white">
                <!--p class="panel-heading has-text-white has-background-info">Reservation Usage</p-->
                <p class="panel-heading">Reservation Usage</p>
				<div class="panel-block">
					<div class="row tile">
						<div class="row">
							<div class="column">
								<!-- <button class="button is-info">Go</button> -->
							</div>
						</div>
						<div class="tile is-child " id="chart_div" style="width: 400px; height: 400px;"></div>
						<div class="row">
							<div class="column">
								
							</div>
						</div>

					</div>
				</div>
			</nav>
			
			<!--nav class="panel has-text-white has-background-white">
				<p class="panel-heading">Search Jobs</p>
				<div class="panel-block">
					<span class="column">
					<div class="row tile is-parent">
						<div class="row columns tile is-child ">
							<div class="column is-four-fifths">
								<input class="input" type="text" placeholder="Search [projectid:, jobid:, reservationid:, userid:]">
							</div>
							<div class="column">
								<button class="button is-info">Search</button>
							</div>
						</div>	
					</div>
					</span>
				</div>
				<div class="panel-block">
					<span class="column">
					<div class="row tile is-parent">
						<div class="tile  is-child">
							<span class="tag is-medium has-background-info has-text-white">projectId:thd-edw-pr
								<button class="delete is-small"></button>
							</span>
							<span class="tag is-medium has-background-info has-text-white">reservationid:/pac/thd/
								<button class="delete is-small"></button>
							</span>
							<span class="tag is-medium has-background-info has-text-white">userid:abc@abc.com
								<button class="delete is-small"></button>
							</span>
						</div>
					</div>
					</span>
				</div>
			</nav-->
			
			
			<nav class="panel has-text-white has-background-white">
				<p class="panel-heading">Job Details</p>
    			<div class="row tile is-parent">
    				<div class="table-container tile is-child box">
    					<table id="job-table" class="table is-striped is-narrow is-hoverable is-fullwidth">
    						<thead>
    							<tr>

    								<th>Job Name</th>
    								<th>User</th>
    								<th>Project</th>
    								<th>Reservation</th>
    								<th>Number of Slots</th>
    								<th>Status</th>
    							</tr>
    						</thead>
    						
    						<!-- <tbody>
    							<tr>
    								<td id='bq-job-123dfdh9sd9sdf7sd'><a>bq-job-123dfdh9sd9sdf7sd</a></td>
    								<td>aj@google.com</td>
    								<td>project1</td>
    								<td>Reservation1</td>
    								<td>300</td>
    								<td>
    									<progress class="progress" value="50" max="100">50%</progress>
    								</td>
    							</tr>
    							<tr>
    								<td>bq-job-74672-hqyekxy</td>
    								<td>aj@google.com</td>
    								<td>project1</td>
    								<td>Reservation1</td>
    								<td>200</td>
    								<td>
    									<progress class="progress" value="15" max="100">15%</progress>
    								</td>
    							</tr>
    						</tbody> -->
    					</table>
    				</div>
                </div>
            </nav>
		</div>

		
		
		<div class="modal">
  			<div class="modal-background"></div>
 			<div class="modal-card">
	    		<header class="modal-card-head">
	      			<p class="modal-card-title">Job Performance</p>
	    		</header>
	    		<section class="modal-card-body">
	      			<div id="curve_chart" ></div>
	    		</section>
	    		<footer class="modal-card-foot">
	      			<button id='modal-close' class="button">Close</button>
	    		</footer>
  			</div>
		</div>

    </section>
    <script src="../static/js/index.js"></script>

</body>
</html>