<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<style>
        .tag__custom {
            height: auto !important;
            white-space: pre-line !important;
            
        }
    </style>
</head>
<!-- set time out -->
<body class="has-navbar-fixed-top">

	<section class="section ">
		<div class="container">
			<div class="row ">
				<div class="columns">
					<div class="column">
						<nav class="navbar is-link is-fixed-top">
							<a class="navbar-item has-text-white">Bigquery org wide job monitor</a>
							<div class="navbar-end">
								<div class="navbar-item">
									<a id="livebutton" class="button is-success" href="#">
										<span id="livestatus" class="icon">
											<i class="fas fa-circle"></i>
										</span>
										<span>Live</span>
									</a>
								</div>
								<!--div class="navbar-item ">
									<a class="has-text-white">Hello a@abc.com</a>
								</div-->
								<div id="currenttime" class="navbar-item has-text-white">Current Time</div>
								
							</div>
						</nav>
					</div>
				</div>	
			</div>
			<nav class="panel has-text-white has-background-white">
				<p class="panel-heading ">Playback Setting</p>

				<div class="panel-block">
					<div class="row">
						<div class="">
							<div class="row">
								<span>Duration:</span>
							</div>
							<div class="row">
								<a>
									<span id="d1h" class="tag is-medium">1hr
									</span>
								</a>
								<a>
									<span id="d2h" class="tag is-medium">2hr
									</span>
								</a>
								<a>
									<span id="d3h" class="tag is-medium">3hr
									</span>	
								</a>
								<span class="tag has-background-white">
									<input id="hr-input" class="input" type="text" value="1" placeholder="Custom: e.g. 2, 3.5">
								</span>	
								hr
							</div>
						</div>
					</div>
				</div>
				<div class="panel-block">
					<div class="row">
						<div class="">
							<div class="row">
								<span class="">End time</span>
							</div>
							<div class="row">
								<!-- <input id = "endtime" class="input" type="text" placeholder="2019-10-29 23:59:59"> -->
								<input id = "endtime" class="input" type="text" value="2019-12-04 23:59:59">
								<button id = "endtime-button"  class="button">Go</button>
							</div>
						</div>
					</div>
				</div>
				
				<div class="panel-block">
					<div class="row">
						<div class="">
							<div class="row">
								<span>Move in time</span>
							</div>
							<div class="row">
								<button id="minuesd1h" class="tag is-medium">-1hr
								</button>
								<span class="tag has-background-white">
									<input id = "moveintime-input" class="input" type="text" placeholder="Custom: +/-0.5hr">
								</span>
								<button id="plusd1h" class="tag is-medium">+1hr
								</button>
								<div class="row">
									<button id = "moveintime-button" class="button">Go</button>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				


			</nav>

			<nav class="panel has-text-white has-background-white">
                <!--p class="panel-heading has-text-white has-background-info">Reservation Usage</p-->
                <p class="panel-heading">Reservation Usage</p>
				<div class="panel-block">
					<div class="row tile">
						<div class="row">
							<div class="column">
								<!-- <button class="button is-info">Go</button> -->
							</div>
						</div>
						<div class="tile is-child " id="chart_div" style="width: 400px; height: 400px;"></div>
						<div class="row">
							<div class="column">
								
							</div>
						</div>

					</div>
				</div>
			</nav>
			
			<!--nav class="panel has-text-white has-background-white">
				<p class="panel-heading">Search Jobs</p>
				<div class="panel-block">
					<span class="column">
					<div class="row tile is-parent">
						<div class="row columns tile is-child ">
							<div class="column is-four-fifths">
								<input class="input" type="text" placeholder="Search [projectid:, jobid:, reservationid:, userid:]">
							</div>
							<div class="column">
								<button class="button is-info">Search</button>
							</div>
						</div>	
					</div>
					</span>
				</div>
				<div class="panel-block">
					<span class="column">
					<div class="row tile is-parent">
						<div class="tile  is-child">
							<span class="tag is-medium has-background-info has-text-white">projectId:thd-edw-pr
								<button class="delete is-small"></button>
							</span>
							<span class="tag is-medium has-background-info has-text-white">reservationid:/pac/thd/
								<button class="delete is-small"></button>
							</span>
							<span class="tag is-medium has-background-info has-text-white">userid:abc@abc.com
								<button class="delete is-small"></button>
							</span>
						</div>
					</div>
					</span>
				</div>
			</nav-->
			
			
			
		</div>
        <br/>
		<table id="job-table" class="stripe cell-border" style="width:100%">
                <thead>
                        <tr>

                                <th>Job Name</th>
                                <th>User</th>
                                <th>Project</th>
                                <th>Reservation</th>
                                <th>Slots</th>
                                <th>Status</th>
                                <th>Start Time</th>
                                <th>Total Slot Time <br/>(Day:Hour:Minute.Second)</th>
                            </tr>
                </thead>
                
                
            </table>
		
		<div class="modal">
  			<div class="modal-background"></div>
 			<div class="modal-card">
	    		<header class="modal-card-head">
	      			<p class="modal-card-title">Job Performance Metrics</p>
	    		</header>
	    		<section class="modal-card-body">
                    <div class="table-container">
                        <table class="table is-striped is-narrow">
                            <tbody>
                                <tr>
                                    <th style="width: 20%;"></th>
                                    <th style="width: 80%;"></th>                
                                </tr>
                                <tr>
                                    <td >
                                        <span class="title is-6">Job Id</span>                                            
                                    </td>
                                    <td >
                                        <span id="jobDetailId" class="subtitle is-6 tag__custom"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            <span class="title is-6">Project Id</span>                                           
                                    </td>
                                    <td>
                                            <span id="jobDetailProjectId" class="subtitle is-6 tag__custom"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            <span class="title is-6">Query</span>                                         
                                    </td>
                                    <td>
                                            <span id="jobDetailQuery" class="subtitle is-6 tag__custom"></span>
                                    </td>
                                </tr> 
                                <tr>
                                    <td>
                                            <span class="title is-6">Job Kill command</span>                                         
                                    </td>
                                    <td>
                                            <span id="jobKillCommand" class="subtitle is-6 tag__custom"></span>
                                    </td>
                                </tr>                                
                            </tbody>
                        <!-- Your table content -->
                        </table>
                    </div>
                    
	      			<div id="curve_chart" ></div>
	    		</section>
	    		<footer class="modal-card-foot">
	      			<button id='modal-close' class="button">Close</button>
	    		</footer>
  			</div>
		</div>

    </section>
    <script src="../static/js/index.js"></script>

</body>
</html>