<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

	
	
</head>
<body class="has-navbar-fixed-top">

	<section class="section has-background-info">
		<div class="container">
			<div class="row ">
				<div class="columns">
					<div class="column">
						<nav class="navbar is-link is-fixed-top">
							<a class="navbar-item has-text-white">Jobs</a>
							<div class="navbar-end">
								<div class="navbar-item">
									<a id="livebutton" class="button is-success" href="#">
										<span id="livestatus" class="icon">
											<i class="fas fa-circle"></i>
										</span>
										<span>Live</span>
									</a>
								</div>
								<div class="navbar-item ">
									<a class="has-text-white">Hello a@abc.com</a>
								</div>
								<div id="currenttime" class="navbar-item has-text-white">Jobs</div>
								
							</div>
						</nav>
					</div>
				</div>	
			</div>
			<nav class="panel has-text-white has-background-white">
				<p class="panel-heading">Playback Setting</p>

				<div class="panel-block">
					<div class="row">
						<div class="column">
							<div class="row">
								<span>Duration:</span>
							</div>
							<div class="row">
								<a>
									<span id="d1h" class="tag is-medium">1hr
									</span>
								</a>
								<a>
									<span class="tag is-medium">2hr
									</span>
								</a>
								<a>
									<span class="tag is-medium">3hr
									</span>	
								</a>
								<span class="tag has-background-white">
									<input class="input" type="text" placeholder="Custom: e.g. 1h, 15m">
								</span>	
								
							</div>
						</div>
					</div>
				</div>
				<div class="panel-block">
					<div class="row">
						<div class="column">
							<div class="row">
								<span>End time</span>
							</div>
							<div class="row">
								<input class="input" type="text" placeholder="2019/10/29 23:59:59">
							
								<button class="button is-info">Go</button>
							</div>
						</div>
					</div>
				</div>
				
				<div class="panel-block">
					<div class="row">
						<div class="column">
							<div class="row">
								<span>Move in time</span>
							</div>
							<div class="row">
								<a>
									<span id="d1h" class="tag is-medium">-1hr
									</span>
								</a>
								<span class="tag has-background-white">
									<input class="input" type="text" placeholder="Custom: +/- 10m, 1hr">
								</span>
								<a>
									<span class="tag is-medium">+1hr
									</span>
								</a>
								<div class="row">
									<button class="button is-info">Go</button>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				


			</nav>

			<nav class="panel has-text-white has-background-white">
				<p class="panel-heading">Reservation Usage</p>
				<div class="panel-block">
					<div class="row tile">
						<div class="row">
							<div class="column">
								<button class="button is-info">Go</button>
							</div>
						</div>
						<div class="tile is-child " id="chart_div" style="width: 400px; height: 400px;"></div>
						<div class="row">
							<div class="column">
								
							</div>
						</div>

					</div>
				</div>
			</nav>
			
			<nav class="panel has-text-white has-background-white">
				<p class="panel-heading">Search Jobs</p>
				<div class="panel-block">
					<span class="column">
					<div class="row tile is-parent">
						<div class="row columns tile is-child ">
							<div class="column is-four-fifths">
								<input class="input" type="text" placeholder="Search [projectid:, jobid:, reservationid:, userid:]">
							</div>
							<div class="column">
								<button class="button is-info">Search</button>
							</div>
						</div>	
					</div>
					</span>
				</div>
				<div class="panel-block">
					<span class="column">
					<div class="row tile is-parent">
						<div class="tile  is-child">
							<span class="tag is-medium has-background-info has-text-white">projectId:thd-edw-pr
								<button class="delete is-small"></button>
							</span>
							<span class="tag is-medium has-background-info has-text-white">reservationid:/pac/thd/
								<button class="delete is-small"></button>
							</span>
							<span class="tag is-medium has-background-info has-text-white">userid:abc@abc.com
								<button class="delete is-small"></button>
							</span>
						</div>
					</div>
					</span>
				</div>
			</nav>
			
			
			
			<div class="row tile is-parent">
				<div class="table-container tile is-child box">
					<table id="job-table" class="table is-striped is-narrow is-hoverable is-fullwidth">
						<thead>
							<tr>

								<th>Job Name</th>
								<th>User</th>
								<th>Project</th>
								<th>Reservation</th>
								<th>Number of Slots</th>
								<th>Status</th>
							</tr>
						</thead>
						
						<tbody>
							<tr>
								<td id='bq-job-123dfdh9sd9sdf7sd'><a>bq-job-123dfdh9sd9sdf7sd</a></td>
								<td>aj@google.com</td>
								<td>project1</td>
								<td>Reservation1</td>
								<td>300</td>
								<td>
									<progress class="progress" value="50" max="100">50%</progress>
								</td>
							</tr>
							<!-- <tr>
								<td>bq-job-74672-hqyekxy</td>
								<td>aj@google.com</td>
								<td>project1</td>
								<td>Reservation1</td>
								<td>200</td>
								<td>
									<progress class="progress" value="15" max="100">15%</progress>
								</td>
							</tr> -->
						</tbody>
					</table>
				</div>
			</div>
		</div>

		
		
		<div class="modal">
  			<div class="modal-background"></div>
 			<div class="modal-card">
	    		<header class="modal-card-head">
	      			<p class="modal-card-title">Job Performance</p>
	    		</header>
	    		<section class="modal-card-body">
	      			<div id="curve_chart" ></div>
	    		</section>
	    		<footer class="modal-card-foot">
	      			<button id='modal-close' class="button">Close</button>
	    		</footer>
  			</div>
		</div>
		
		
	</section>
	
	<script type="text/javascript">

	$(document).ready(function() {
		$('#job-table').DataTable( {
			"ajax": {
				"url": "https://festive-terrain-1.appspot.com/_ah/get-handlers/v1/jobs",
			},
			"columns": [
                { "data": "jobid"},
				{ "data": "email" },
				{ "data": "projectid" },
				{ "data": "reservationid" },
				{ "data": "slots" },
				{ "data": "state" },
			]
		} );
	} );
		

		$( "#bq-job-123dfdh9sd9sdf7sd" ).click(function() {
			$(".modal").addClass("is-active");
			drawChartLine();
		});
		$( "#modal-close" ).click(function() {
			$(".modal").removeClass("is-active");
		});
		$( "#modal-close1" ).click(function() {
			$(".modal").removeClass("is-active");
		});
		var isLive = false;
		var interval;
		var d1h = false;
		$( "#livebutton" ).click(function() {
			if (!isLive) {
				$("#livestatus").addClass("has-text-danger");
				isLive = true;
				interval = setInterval(function() {
					var today = new Date();
					var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate()+ ' ' + today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds();
					//$("#currenttime").textText=date;
					document.getElementById('currenttime').innerHTML = date; 
					//$("#currenttime").load(date);
				}, 1000);
			} else {
				$("#livestatus").removeClass("has-text-danger");
				isLive = false;
				clearInterval(interval); 
			}
		});
		$( "#d1h" ).click(function() {
			
			if (!d1h) {
				$("#d1h").addClass("has-background-info has-text-white");
				d1h = true;
			} else {
				$("#d1h").removeClass("has-background-info has-text-white");
				d1h = false;
			}
		});

		google.charts.load('current', {'packages':['treemap']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = google.visualization.arrayToDataTable([
				['Location', 'Parent', 'Market trade volume (size)', 'Market increase/decrease (color)'],
				['pac/thd/',   		 null,                 0,                               0],
				['pac/thd/pr',   	'pac/thd/',          0,                               0],
				['pac/thd/io',    	'pac/thd/',             0,                               0],
				['pac/thd/npr',     'pac/thd/',      0,                               0],
				['pac/thd/sc', 		'pac/thd/',             0,                               0],
				['pac/thd/st',    	'pac/thd/',             0,                               0],
				['pac/thd/us',   	'pac/thd/pr',           11,                              10],
				['pac/thd/cn',      'pac/thd/pr',           52,                              31],
				['pac/thd/eu',    	'pac/thd/pr',           24,                              12],
				['pac/thd/pr/sc',   'pac/thd/pr',           16,                             -23],
				['pac/thd/eu/adhoc','pac/thd/eu',             42,                              -11],
				['pac/thd/eu/sla',  'pac/thd/eu',             31,                              -2],
				['pac/thd/eu/nosla','pac/thd/eu',             22,                              -13],
				['pac/thd/eu/dev',  'pac/thd/eu',             17,                              4],
				['pac/thd/eu/test', 'pac/thd/eu',             21,                              -5],
				['pac/thd/npr/sla', 'pac/thd/npr',               36,                              4],
				['pac/thd/npr/nosla','pac/thd/npr',               20,                              -12],
				['pac/thd/npr/prod','pac/thd/npr',               40,                              63],
				['pac/thd/npr/dev', 'pac/thd/npr',               4,                               34],
				['pac/thd/npr/test','pac/thd/npr',               1,                               -5],
				['pac/thd/npr/uat', 'pac/thd/npr',               12,                              24],
				['pac/thd/npr/io1', 'pac/thd/npr',               18,                              13],
				['Pakistan',  		'pac/thd/npr',               11,                              -52],
				['pac/thd/sc/npa',  'pac/thd/sc',             21,                              0],
				['pac/thd/sla', 	'pac/thd/sc',             30,                              43],
				['pac/thd/nosla',   'pac/thd/sc',             12,                              2],
				['pac/thd/dev',     'pac/thd/sc',             10,                              12],
				['pac/thd/test',    'pac/thd/sc',             8,                               10]
				]);

			
			tree = new google.visualization.TreeMap(document.getElementById('chart_div'));
			tree.draw(data, {
				minColor: '#007000',
				midColor: '#FFBF00',
				maxColor: '#D2222D',
				headerHeight: 25,
				fontColor: 'black'
				,showScale: true
			});

			google.visualization.events.addListener(tree, 'select', function(){
				var selectedItem = tree.getSelection()[0];
				var size = 10;
				var value = 20;
			    if (selectedItem) {
			      var row = selectedItem.row;
			      //alert('The user selected ' + value);
			      /*
			      alert(
           '' + data.getValue(row, 0) +
           ', ' + data.getValue(row, 1) + 
           ', ' + data.getValue(row, 2) +
           ', ' + data.getValue(row, 3) + 
           ', ' +
           'Datatable row: ' + row + 
           ', ' + data.getColumnLabel(2) +
           ' (total value of this cell and its children): ' + size + 
           ', ' + data.getColumnLabel(3) + 
           ': ' + value );
           */
			    }
				
			});
		}

		google.charts.load('current', {'packages':['corechart']});
      	google.charts.setOnLoadCallback(drawChartLine);

      	function drawChartLine() {
        	var data = google.visualization.arrayToDataTable([
	          	['Time', 'Pending Units', 'Total Units', 'Total Slots'],
	          	['10:01:01',  4000,      4000, 100],
	          	['10:01:02',  3900,      4000, 120],
	          	['10:01:03',  3800,      4000, 120],
	          	['10:01:04',  3200,      4000, 130],
	          	['10:01:05',  2800,      4000, 140],
	          	['10:01:06',  2700,      4000, 100],
	          	['10:01:07',  2600,      4000, 80],
	          	['10:01:08',  2500,      4000, 120],
	          	['10:01:09',  1400,      4000, 140],
	          	['10:01:10',  1390,      4000, 140],
	          	['10:01:11',  1380,      4000, 200],
	          	['10:01:12',  1290,      4000, 60],
	          	['10:01:13',  1270,      4000, 70],
	          	['10:01:14',  1250,      4000, 70],
	          	['10:01:15',  1180,      4000, 80],
	          	['10:01:16',  1150,      4000, 70],
	          	['10:01:17',  1100,      4000, 120],
	          	['10:01:18',  1080,      4000, 130],
	          	['10:01:19',  1070,      4000, 140],
	          	['10:01:20',  1060,      4000, 150],
	          	['10:01:21',  1050,      4000, 160],
	          	['10:01:22',  1040,      4000, 30],
	          	['10:01:23',  1030,      4000, 40],
	          	['10:01:24',  1030,      4000, 50],
	          	['10:01:25',  1030,      4000, 60],
	          	['10:01:26',  1030,      4000, 120],
        		]);
        	
	        var options = {
	          	pointSize: 2,
	          	curveType: 'function',
	          	legend: 'top',
	          	height: 600,
	          	width: 600,
	          	chartArea: {'width': '70%', 'height': '70%'},
	          	// Gives each series an axis that matches the vAxes number below.
		        series: {
		          0: {targetAxisIndex: 0},
		          2: {targetAxisIndex: 2}
		        },
		        hAxis: {
    				title: 'Timeline', 
    				slantedText: true,
    				gridlines: {
	                	count: 11
	            	}
				},
				vAxis: {
					// Adds titles to each axis.
		          0: {
		          	title: 'Work Units'
		          },
		          2: {
		          	title: 'Slots utilized'
		          }
      				
      				
    			}
	        };

        	var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        	chart.draw(data, options);
      	}
	</script>
</body>
</html>
